body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #2d3c49;
}
.text-muted {
    color: #7d97ad
}

.text-thin {
    font-weight: 100;
}

.title-super {
    font-size: 60px;
}

.title-logo {
    margin-top: 20px;
}

.seperator {
    display: block;
    border: none;
    color: #7d97ad;
    height: 20px;
}